{% extends '../base.html' %}

{% load static %}

{% block content %}
    
<div class="chat-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="file_upload"> 
                    <div class="upload_wrapper" id="handleFileUpload">
                        <input  class="listing_file_up" type="file" id="fileInput" multiple />  
                        <img src="{% static 'image/upload.png' %}" width="80" alt="file_upload"> 
                        <p>Clicl here or drop files to upload</p> 
                        <span id="filename"></span>     
                    </div> 
                    <button class="upload_btn" id="upload_document">Upload</button> 
                </div>
                <div class="choose_model">
                    <select name="choose_model">
                        <option value="llama-3.1-8b-instant">Llama-3.1-8b-instant</option>
                        <option value="llama-3.3-70b-versatile">Llama-3.3-70b-versatile</option>
                        <option value="gemma2-9b-it">Gemma2-9b-it</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="chat-widget-inner">
                    <div class="chat-widget-title">
                        <div class="chat-widget-title-left">
                            <div class="chat-widget-title-image">
                                <img src="{% static 'image/ai-logo.png' %}" alt="image">
                            </div>
                            <div class="chat-widget-title-name">
                                <h4>Virtual Assistant</h4>
                            </div>
                        </div>
                        <div class="chat-widget-title-right">
                            <img src="{% static 'image/check.png' %}" alt="">
                        </div>
                    </div>
                    <div class="chat-container">
                        <div class="chat-widget-body">
                            <div class="chat-list">
                                <ul id="chat-message">
                                    <li>
                                        <div class="ai_message_section"> 
                                            <div class="ai-image">
                                                <img src="{% static 'image/ai-message.png' %}" alt="image">
                                            </div>
                                            <div class="ai-massage">
                                                <span class="ai-name">Assistant</span>
                                                <div class="ai-response">
                                                    <span>Hello! I’m your virtual assistant. Ask me anything, and I’ll help you find the right answer from the content.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>   
                                </ul>
                            </div>
                        </div>
                        <div class="chat-widget-footer">
                            <div class="chat-widget-footer-inner">
                                <form id="chat-form"> 
                                    <div class="chat-widget-input">
                                        <input type="text" id="message-input" name="message" placeholder="Write your message...">
                                    </div>
                                    <div class="chat-widget-input-icon">
                                        <button type="submit">
                                            <i class="fa-regular fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<script>
    
    chatForm = document.getElementById('chat-form')
    messageInput = document.getElementById('message-input')
    chatMessages = document.getElementById("chat-message")
    const chatContainer = document.querySelector(".chat-widget-body");
    const handleFileUpload = document.querySelector("#handleFileUpload");
    const fileinput = document.getElementById('fileInput')
    const filename = document.getElementById('filename')
    const upload_document = document.getElementById("upload_document")


    handleFileUpload.addEventListener("click", function() {
        fileinput.click()
    })

    let files
    //  get file name
    fileinput.addEventListener("change", function(e) {
        files = e.target.files 
        output = ""
        for(file of files){
            output += `<strong>File Name:</strong> ${file.name} </br>`
        }
        filename.innerHTML = output
    })

    //  upload document
    upload_document.addEventListener("click", async () => {
        if(!files || files.length === 0){
            alert("Please select at least one file.")
            return
        }

        let formData = new FormData()
        for(let i=0; i < files.length; i++){
            formData.append("documents", files[i])
        }
         
        try {
            const response = await fetch("{% url 'upload_document' %}", {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            });

            const data = await response.json();
            console.log("Success:", data);
            console.log(data.message)
        } catch (error) {
            console.error("Error:", error);
        }

    })

    
    // handle chatbot

    chatForm.addEventListener("submit", async function (e) {
        e.preventDefault();  
        
        const userMessage = messageInput.value.trim();
        if(!userMessage) return

        chatMessages.innerHTML += `
        <li> 
            <div class="human_message">
                <span>${userMessage}</span>
            </div>
        </li>
        `

        messageInput.value = "";

        const typingElement = document.createElement("li");
        typingElement.innerHTML = `
            <div class="ai_message_section"> 
                <div class="ai-image">
                    <img src="{% static 'image/ai-message.png' %}" alt="image">
                </div>
                <div class="ai-massage">
                    <span class="ai-name">assistant</span>
                    <div class="ai-response">
                        <div class="typing-indicator">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        `;
        chatMessages.appendChild(typingElement);

        // Scroll to bottom 
        chatContainer.scrollTop = chatContainer.scrollHeight;


        const response = await fetch("{% url 'predict' %}", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",  
            },
            body: JSON.stringify({ message: userMessage }),
        });

    

        const data = await response.json();
        const ai_message = data.response

        // Remove typing indicator
        typingElement.remove();

        chatMessages.innerHTML += `
            <li>
                <div class="ai_message_section"> 
                    <div class="ai-image">
                        <img src="{% static 'image/ai-message.png' %}" alt="image">
                    </div>
                    <div class="ai-massage">
                        <span class="ai-name">assistant</span>
                        <div class="ai-response">
                            <span>${ai_message}</span>
                        </div>
                    </div>
                </div>
            </li>
        `;

        // 4. Optional: Scroll to bottom
        chatContainer.scrollTop = chatContainer.scrollHeight;

   });
</script>
 
{% endblock %}
