{% extends '../base.html' %}

{% load static %}

{% block content %}
    
<div class="chat-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="file_upload"> 
                    <div class="upload_wrapper" id="handleFileUpload">
                        <input  class="listing_file_up" type="file" id="fileInput" multiple />  
                        <img src="{% static 'image/upload.png' %}" width="80" alt="file_upload"> 
                        <p>Clicl here or drop files to upload</p> 
                        <span id="filename"></span>     
                    </div> 
                    <button class="upload_btn" id="upload_document">Upload</button> 
                    <button class="upload_btn" id="upload_document_icon"><i class="fa-solid fa-spinner fa-spin-pulse fa-spin-reverse"></i></button> 
                </div>
                <div class="select_option">
                    <h2>Choose Model:</h2>
                    <select name="model_name" id="choose_model"> 
                        <option value="openai/gpt-3.5-turbo">GPT-3.5-turbo</option>
                        <option value="openai/gpt-4-turbo">GPT-4-turbo</option>
                        <option value="openai/gpt-4.0-mini">GPT-4.0-mini</option>
                    </select>
                </div>
                <div class="select_option">
                    <h2>Reasoning:</h2>
                    <select id="reasoningLevel">
                        <option value="low">Low</option>
                        <option value="medium" selected> Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="chat-widget-inner">
                    <div class="chat-widget-title">
                        <div class="chat-widget-title-left">
                            <div class="chat-widget-title-image">
                                <img src="{% static 'image/ai-logo.png' %}" alt="image">
                            </div>
                            <div class="chat-widget-title-name">
                                <h4>Virtual Assistant</h4>
                            </div>
                        </div>
                        <div class="chat-widget-title-right">
                            <img src="{% static 'image/check.png' %}" alt="">
                        </div>
                    </div>
                    <div class="chat-container">
                        <div class="chat-widget-body">
                            <div class="chat-list">
                                <ul id="chat-message">
                                    <li>
                                        <div class="ai_message_section"> 
                                            <div class="ai-image">
                                                <img src="{% static 'image/ai-message.png' %}" alt="image">
                                            </div>
                                            <div class="ai-massage">
                                                <span class="ai-name">Assistant</span>
                                                <div class="ai-response">
                                                    <span>Hello! I’m your virtual assistant. Ask me anything, and I’ll help you find the right answer from the content.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>   
                                </ul>
                            </div>
                        </div>
                        <div class="chat-widget-footer">
                            <div class="chat-widget-footer-inner">
                                <form id="chat-form"> 
                                    <div class="chat-widget-input">
                                        <input type="text" id="message-input" name="message" placeholder="Write your message...">
                                    </div>
                                    <div class="chat-widget-input-icon">
                                        <button type="submit">
                                            <i class="fa-regular fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
 
 
{% endblock %}
